@mixin thStyle ()
{
    background-color: rgba(255,255,255,0.2);
    color: #fff;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.tbody {

    .tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
        }
        
        .th {
            @include thStyle();
        }

        .td {
            @include thStyle();
            &:hover {
                background-color: rgba(255,255,255,0.4);
            }
        }


    }
}


