$border_color: #8860D0;
$tbody_color: #84CEEB;


$selection_color: #5AB9EA;
$title_background:  #5680E9;


$title_color: #fff;

$scrollbar_color: #C1C8E4;
$scrollbar_button_color: #5AB9EA;


.container {
    position: relative;

    // these propertieas are set from js on viewportResize
    // height: 600px;
    // width: 100%;
    // border: 1px solid $border_color;

    background: linear-gradient(90deg, #1976D2, #536DFE);

    overflow: hidden;
    user-select: none;
    touch-action: none;

    .complexGrid {
        position: relative;
        top: 0px;
        left: 0px;
        border-collapse: collapse;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        //table-layout:fixed;
    }
}